@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-shadow {
    box-shadow: 0 0 20px rgb(99, 102, 241, 0.4);
}

/* .active{
    background-color: #F14009;
    color: #fff;
} */



body{
    /* background-color: #0F172A; */
    background-image: url("./assets/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}